<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
    <script src="{{url_for('static', filename='scripts/script.js')}}"></script>
  </head>
  <body>
    <nav>
      <a href="{{url_for('hello')}}"><img src="{{url_for('static', filename='/imgs/home.svg')}}" alt="home button" class="nav_icon"><span class="nav-title">Home</span></a>
      <a href="{{url_for('gallery')}}"><img src="{{url_for('static', filename='/imgs/gallery.svg')}}" alt="gallery button" class="nav_icon"><span class="nav-title">Gallery</span></a>
      <a href="{{url_for('info')}}"><img src="{{url_for('static', filename='/imgs/info.svg')}}" alt="" class="nav_icon"><span class="nav-title">Info</span></a>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
