{% extends 'base.html' %} {% block content %}
<script>
  function setOpinionStyle(radioGroupName, elementID) {
    const radioGroup = document.getElementsByName(radioGroupName);
    const element = document.getElementById(elementID);

    if (radioGroup.value == "hot") {
      element.textContent = "HOT";
      element.style.color = "red";
      element.style.fontSize = "2rem";
      element.style.fontWeight = "bold";
    }

    if (radioGroup.textContent == "not") {
      element.textContent = "not" + " \u2639";
      element.style.color = "blue";
      element.style.fontSize = "1.25rem";
      element.style.fontWeight = "normal";
    }
  }
</script>
<h1>{% block title %}Gallery{% endblock %}</h1>
<section class="gallery">
  {% for image in images %}
  <div class="card">
    <div class="card-top">
      <img
        src="{{url_for('static', filename='imgs/gallery_images/' + image)}}"
        alt="streal image"
      />
      <h3>{{ image }}</h3>
      <!-- this is a string so we can do some manipulation to remove - and .jpeg -->
    </div>
    <div class="card-bottom">
      <h3>What do you think? Hot or Not!</h3>
      <div class="opinions">
        <div class="opinion">
          <input
            type="radio"
            name="hot_or_not_{{loop.index}}"
            id="hot_{{loop.index}}"
            value="hot"
            checked
            onclick="setOpinionStyle('hot_or_not_{{loop.index}}', 'result_{{loop.index}}')"
          />
          <label
            for="hot_{{loop.index}}"
            alt="hot"
            class="emoji emoji-hot"
            onclick="setOpinionStyle('hot_or_not_{{loop.index}}', 'result_{{loop.index}}')"
            >&#x1F525;</label
          >
        </div>

        <p id="result_{{loop.index}}"></p>
        <div class="opinion">
          <input
            type="radio"
            name="hot_or_not_{{loop.index}}"
            id="not_{{loop.index}}"
            value="not"
            onclick="setOpinionStyle('hot_or_not_{{loop.index}}', 'result_{{loop.index}}')"
          />
          <label for="not_{{loop.index}}" alt="not" class="emoji emoji-not"
            >&#x1F44E;</label
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}
